@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppin;
  src: url(./fonts/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppin , Courier, monospace;
}
body {
  background: linear-gradient(to right, rgba(250, 244, 238, 1), rgba(250, 234, 247, 1), rgba(228, 243, 250, 1));
}